/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul {
    -webkit-padding-start: 0;
    padding: 0;
    margin: 0;    
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, html { height: 100%; }

body { font-family: 'Josefin Sans', sans-serif; }

main { 
    background-image: /* Apply a bit of white filter to bkg image to aid in button text visibility */
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../img/highway.png'); 
    background-size: cover;
    padding: 100px 0 100px 0; 
    min-height: 100%;
    color: rgb(255, 255, 255);
}

.content {
    margin-left: 55px;
    transform: translate(0px, 0px);
    transition: transform 0.28s ease-in-out 0.0s;
}

.expanded .content { 
    transform: translate(150px, 0px);
    transition: transform 0.28s ease-in-out 0.0s;
}

.main-nav { 
    background-color: #222; 
    width: 53px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
       -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
    -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
         -o-transition: width ease-in-out 0.28s, background linear 0.1s;
            transition: width ease-in-out 0.28s, background linear 0.1s;
        -ms-transform: translate(0px, 0);
       -moz-transform: translate(0px, 0);
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate(0px, 0);
}

.expanded .main-nav { width: 200px; }

.main-nav .nav-image {
    background-image: url("../img/icons.png");
    display: block;
    position: absolute;
    top: 12px;
    left: 5px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    opacity: 1.0;
}

.home-icon { background-position: 0 -40px; }
.selected .home-icon { background-position: -40px -40px; }

.car-icon { background-position: 0 0; }
.selected .car-icon { background-position: -40px 0; }

.login-icon { background-position: -80px -80px; }
.selected .login-icon { background-position: -120px -80px; }

.logout-icon { background-position: 0 -120px; }
.selected .logout-icon { background-position: -40px -120px; }

.register-icon { background-position: 0 -80px; }
.selected .register-icon { background-position: -40px -80px; }

.add-car-icon { background-position: -80px -40px; }
.selected .add-car-icon { background-position: -120px -40px; }

.main-nav li a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  color: #aaaaaa;
  line-height: 44px;
  padding-left: 50px;
  border-top: 1px #2d2d2d solid;
}

.main-nav a { color: #aaa; }

.main-nav ul { 
    width: 200px; 
    padding-left: 0;
}

.main-nav ul li { border-bottom: 1px solid rgb(79, 79, 79); }

li { list-style: none; }

.menu-label {
    text-align: left;
    color: rgb(170, 170, 170);
    padding-left: 8px;
}

.main-nav ul .selected { background-color: rgb(170, 170, 170); }

.main-nav ul li a:hover { color: rgb( 0, 0, 0 ); }

.selected span { color: rgb( 0, 0, 0 ); }

.nav>li>a>img { max-width: 100%; }

.center-form {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: rgba(27, 27, 27, .5);
    padding: 20px;    
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

input[type=file] { background-color: rgb( 255, 255, 255 ); }

.btn-margin { margin-right: 10px; }

.car-item {
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    width: 30%;
    display: inline-block;
    background-color: rgba(27, 27, 27, .5);
    border-radius: 5px;
}

.repair-item {
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    width: 30%;
    display: inline-block;
    background-color: rgba(27, 27, 27, .5);
    border-radius: 5px;
}

.car-item-title {
    text-align: center;
}

.car-image {
    max-width: 100%;
    height: 200px;
    box-shadow: 0 0 15px black;
    margin: 0 auto 10px auto;
    display: block;
}

.btn-car-item {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba( 0, 0, 0, 0);
    color: rgb( 255, 255, 255 );
    transition: all .2s linear;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 25px;
}

.btn-car-item:hover,
.btn-car-item:focus,
.btn-car-item:active {
    background-color: rgb( 255, 255, 255 );
    color: rgb( 0, 0, 0 );
    border: 1px solid rgb( 0, 0, 0 );
}

.delete-link {
    background-color: #F49999;
}

.delete-button { 
    margin-top: 15px;
}

.login-state { 
    padding-right: 20px; 
    padding-top: 20px;
    color: white;
}

.car-image-preview { 
    width: 200px;
    border: 1px solid black;
}
    

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.bt-social { 
    color: rgb( 255, 255, 255 ); 
    margin-right:10px;
}

.bt-social:hover { color: white; }

.facebook-btn { background-color: rgb(58, 136, 181); }
.facebook-btn:hover { background-color: rgb(30, 99, 141); }

.google-btn { background-color: rgb(209, 59, 59); }
.google-btn:hover { background-color: rgb(147, 40, 40); }

.twitter-btn { background-color: rgb(26, 189, 252); }
.twitter-btn:hover { background-color: rgb(16, 146, 196); }

.github-btn { background-color: rgb(103, 97, 97); }
.github-btn:hover { background-color: rgb(67, 57, 57); }

.forgot-password { margin-top:10px; }

.message {
    position: absolute;
    top: 20px;
    left: 38%;
    border-radius: 4px;
    padding: 10px 100px;
    display: none;
}

.error-message { background-color: #ed5a5a; }
    
.info-message { background-color: #5fcf80;; }

.forgot-password a {
    color: rgb(255, 255, 255);
}

.hiddenpano { display: none; }

.pano {
  height: 85%;
  max-height: 85%;
}

#spin { height: 60px; }

footer {
    background-color: rgba(26, 26, 26, 1);
    color: rgb( 255, 255, 255 );   
    padding: 10px 0 10px 183px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
