<form name="addCarForm" ng-submit="addCar()">
    <h2>Enter new car information:</h2>
    <label for="vehicleInput">Manufacturer and Model</label>
    <input type="text" id="vehicleInput" placeholder="Manufacturer & Model"/><br>
    <label for="vehicleTypeInput">Type (Sedan, Coupe, Pickup, etc.)</label>
    <input type="text" id="vehicleTypeInput" placeholder="Type (Sedan, Pickup, etc.)"/><br>
    <label for="mileageInput">Mileage</label>
    <input type="number" id="mileageInput" placeholder="Mileage"/><br>
    <input type="submit" value="+ Add" class="btn btn-primary"></input> 
</form>