
<form id="addCarForm" name="addCarForm" ng-submit="addCar()">
    <h2>Enter new car information:</h2>
    <div class="form-group">
        <label for="vehicleInput">Manufacturer and Model</label>
        <input type="text" class="form-control" id="vehicleInput" placeholder="Manufacturer & Model"/>
    </div>
    <div class="form-group">
        <label for="vehicleTypeInput">Type (Sedan, Coupe, Pickup, etc.)</label>
        <input type="text" class="form-control" id="vehicleTypeInput" placeholder="Type (Sedan, Pickup, etc.)"/>
    </div>
    <div class="form-group">
        <label for="mileageInput">Mileage</label>
        <input type="number" class="form-control" id="mileageInput" placeholder="Mileage"/>
    </div>
    <button type="submit" class="btn btn-primary">+ Add</button> 
</form>
