<form id="addCarForm" name="addCarForm" class="center-form" ng-submit="addCar(year, make, model)">
    <h2>Enter new car information:</h2>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" id="year" ng-model="year" placeholder="enter year car was made"/>
    </div>
    <div class="form-group">
        <label for="make">Manufacturer</label>
        <input type="text" class="form-control" id="make" ng-model="make" placeholder="enter manufactuer of car"/>
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" ng-model="model" placeholder="enter model of car"/>
    </div>
    <h2>Image</h2>
    <div id="spin"></div>
    <input class="hiddenpano" type="file" accept="image/*" capture="camera" id="file-upload"><br/>
    <img class="pano" id='pano' height="200px" width="200px" />
    <button type="submit" class="btn btn-primary">+ Add</button> 
    <a href="/cars" class="btn btn-warning">Cancel</a>    
</form>
