<div class="carlist">
    <h1>Vehicles</h1>
    <div class="car-item" ng-repeat="car in carlist" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"> 
        <h1 class="car-item-title">{{ car.year }} {{ car.make }} {{ car.model }}</h1>
        <img class="car-image" ng-src="{{ car.picture }}"/>    
        <div>
           <ul class="nav nav-pills">
               <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
                   <ul class="dropdown-menu">
                       <li><a href='/editcar/{{car.$id}}'>Edit Car Info/Picture</a></li>
                       <li><a href="/repairs/{{car.$id}}" >Show Repairs List</a></li>          
                       <li><a href='#' ng-click="removeCar(car)">Delete This Car</a></li>
                   </ul>
               </li>
            </ul>
        </div>
    </div>
</div>
