<div ng-show="carlist.length === 0" class="container">
    <h1>You don't have any cars yet!</h1>
    <h2>Add one now</h2>
</div>
  

<div class="container-fluid">
    <div class="carlist row">
        <div class="car-item col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1" ng-repeat="car in carlist"> 
            <h1 class="car-item-title">{{ car.year }} {{ car.make }} {{ car.model }}</h1>
            <img class="car-image" ng-src="{{ car.picture }}"/>    
            <div class="dropdown">
               <button class="dropdown btn btn-car-item" type="button" data-toggle="dropdown" href="#">Menu <span class="caret"></span></button>
               <ul class="dropdown-menu">
                   <li>
                       <a href='/editcar/{{car.$id}}'>Edit Car Info/Picture</a>
                    </li>
                   <li>
                       <a href="/repairs/{{car.$id}}" >Show Repairs List</a>
                   </li>          
                   <li>
                       <a href='#' class="delete-link" ng-click="removeCar(car)">Delete This Car</a>
                   </li>
               </ul>
            </div>
        </div>
    </div>
</div>