<div class="carlist">
    <h1>Vehicles</h1>
    <div class="car-item" ng-repeat="car in carlist" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"> 
        <h1 class="car-item-title">{{ car.year }} {{ car.make }} {{ car.model }}</h1>
        <img class="car-image" ng-src="{{ car.picture }}"/>    
        <div class="dropdown">
           <button class="dropdown btn btn-primary" type="button" data-toggle="dropdown" href="#">Actions<span class="caret"></span></button>
               <ul class="dropdown-menu">
                   <li><a href='/editcar/{{car.$id}}'>Edit Car Info/Picture</a></li>
                   <li><a href="/repairs/{{car.$id}}" >Show Repairs List</a></li>          
                   <li><a href='#' class="delete-link" ng-click="removeCar(car)">Delete This Car</a></li>
               </ul>
           </button>
        </div>
    </div>
</div>
