<form id="editCarForm" name="editCarForm" ng-submit="editCar(vehicle.year, vehicle.make, vehicle.model)">
    <h2>Edit car information:</h2>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" id="year" ng-model="vehicle.year" placeholder="enter year car was made"/>
    </div>
    <div class="form-group">
        <label for="make">Manufacturer</label>
        <input type="text" class="form-control" id="make" ng-model="vehicle.make" placeholder="enter manufactuer of car"/>
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" ng-model="vehicle.model" placeholder="enter model of car"/>
    </div>
    
    <h2>Image</h2>
    <h3>Current Image</h3>
    <img class="car-image-preview" src="{{vehicle.picture}}">
    <div id="spin"></div>
    <input type="file" accept="image/*" capture="camera" id="file-upload"/><br/>
    <img class="pano" id='pano' height="200px" width="200px" />
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/cars" class="btn btn-warning">Cancel</a>
</form>
