<div class="main-nav" ng-controller="MainController">
    <img src="app/img/bolt.png" class="bolt" >
    <ul class="nav">
        <li class="menu-label">Menu</li>
        <li>
            <a href="/" ng-class="{selected:isActive('/')}">
                <span>CarLife Home</span>    
                <i class="nav-image home-icon"></i>
            </a>
        </li>
        <li ng-show="authData" ng-class="{selected:isActive('/cars')}">
            <a href="/cars">
                <span>Your Cars</span>
                <i class="nav-image car-icon"></i>
            </a>
        </li>
        <li ng-hide="authData" ng-class="{selected:isActive('/login')}">
            <a href="/login">
                <span>Login</span>
                <i class="nav-image login-icon"></i>
            </a>
        </li>
        <li ng-hide="authData" ng-class="{selected:isActive('/register')}">
            <a href="/register">
                <span>Register</span>
                <i class="nav-image register-icon"></i>
            </a>
        </li>
        <li ng-show="authData" ng-class="{selected:isActive('/addcar')}">
            <a href="/addcar">
                <span>Add Car</span>
                <i class="nav-image add-car-icon"></i>
            </a>
        </li>
        <li ng-show="authData">
            <a href="/" class="btnLogout" ng-click="logout()">
                <span>Logout</span>
                <i class="nav-image logout-icon"></i>
            </a>
        </li>
    </ul>
    <img src="app/img/bolt.png" class="bolt">
</div>
<div class="pull-right login-state"><span>Not logged in</span></div>

