<div class="main-nav" ng-controller="MainController">
    <ul class="nav">
        <li class="active"><a class="brand" href="#">CarLife</a></li>
        <li ng-show="authData" ng-class="{selected:isActive('/cars')}"><a href="/cars">Your Cars</a></li>
        <li ng-hide="authData" ng-class="{selected:isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-hide="authData" ng-class="{selected:isActive('/register')}"><a href="/register">Register</a></li>
        <li ng-show="authData" ng-class="{selected:isActive('/addcar')}"><a href="/addcar">Add car</a></li>
        <li ng-show="authData"><a href="/" class="btnLogout" ng-click="logout()">Logout</a></li>
    </ul>
</div>
<div class="pull-right login-state"><span>Not logged in</span></div>
