<form id="frmLogin"  class="container center-form" ng-controller="MainController" ng-submit="login()">
    <h2>Login</h2>

    <div class="form-group">
        <label for="loginEmail">Email address</label>
        <input type="email" class="form-control" id="loginEmail" ng-model="emailLogin" placeholder="enter email address" name="email" />
    </div>
    <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="loginPassword" ng-model="passwordLogin" placeholder="enter password" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div>
        <h2>Or login using:</h2>
        <a href = '#' class='btn bt-social facebook-btn' data-provider="facebook">Facebook</a>
        <a href = '#' class='btn bt-social google-btn' data-provider="google">Google</a>   
        <a href = '#' class='btn bt-social twitter-btn' data-provider="twitter">Twitter</a>          
        <a href = '#' class='btn bt-social github-btn' data-provider="github">Github</a>        
    </div>
    <div class="forgot-password">
		<a href="/register">Sign Up</a><br>
        <a href="/passwordreset">Forgot your password?</a>
    </div>
</form>