<div class="container center-form">
    <h2>Change your email address</h2>
    <form id="changeEmail" class="profile-form" ng-controller="MainController" ng-submit="emailChange()">
        <div class="form-group">
            <label for="email">Your Current Email Address</label>
            <input type="email" class="form-control" id="email" ng-model="oldEmail" placeholder="enter email address" name="email" />
        </div>
        <div class="form-group">
            <label for="emailConfirm">Your New Email Address</label>
            <input type="email" class="form-control" id="newEmail" ng-model="newEmail" placeholder="enter new email address" name="newEmail" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="emailPassword" placeholder="enter password" name="password" />
        </div>    
        <button type="submit" class="btn btn-primary">Update</button>        
    </form>
    <h2>Change Your Password</h2>
    <form id="changePswd" class="profile-form" ng-controller="MainController" ng-submit="changePswd()">
        <div class="form-group">
            <label for="email">Your Email Address</label>
            <input type="email" class="form-control" id="passwordEmail" ng-model="passwordEmail" placeholder="enter email address" name="passwordEmail" />
        </div>    
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" ng-model="oldPassword" placeholder="enter old password" name="oldPassword" />
        </div>       
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="password" ng-model="newPassword" placeholder="enter new password" name="newPassword" />
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" ng-model="newPasswordConfirm" placeholder="re-enter new password" name="newPasswordConfirm" />
        </div> 
        <button type="submit" class="btn btn-primary">Update</button>               
    </form>
</div>