<form id="frmPwreset"  class="container center-form" ng-controller="MainController" ng-submit="pwreset()">
    <h2>Forgot your password?</h2>
    <h3>We can reset that for you</h3>

    <div class="form-group">
        <label for="loginEmail">Email address</label>
        <input type="email" class="form-control" id="resetEmail" ng-model="resetEmail" placeholder="enter your email address" name="email" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="forgot-password">
	<a href="/login">Log in</a>
	<a href="/register">Sign Up</a>
</div>